<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="ctrl01">
<head>
    <meta charset="UTF-8">
    <!--让网页的尺寸等于手机分辨率-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="node_modules/store/dist/store.legacy.min.js"></script>
</head>
<body>
<div class="input">
    <input type="text" ng-model="inputText" ng-keydown="checkInput($event)">
</div>
<div class="item" ng-repeat="x in list">
    <input type="checkbox" ng-model="x.done" ng-checked="x.done"><span ng-bind="x.text"></span>
</div>
<script src="js/script.js"></script>
</body>
</html>